body {
    margin: 0 auto;
    width: 850px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height:450px;
    background-image: url("./NasaPhoto.jpg");
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    

}

section {
    display: flex;
    justify-content: space-between;
    height: 324px;
    background-color: #cccccc;
    padding-left: 60px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 8px;
    font-size:12px
}

div {
    width: 270px;

}

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

h1 {
    font-size: 80px;
    text-transform: uppercase;
    color: white;
}